<h1>All Users</h1>

<%= will_paginate @users %>

<% @users.each do |user| %>
  <p>Username:<%= link_to user.username, user %></p>
  <p>Joined <%= time_ago_in_words(user.created_at) %> ago</p>
<% end %>